    /*
    Flaticon icon font: Flaticon
    Creation date: 02/08/2017 05:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-mouse-in-a-shopping-bag:before { content: "\f100"; }
.flaticon-gift:before { content: "\f101"; }
.flaticon-shopping-bag:before { content: "\f102"; }
.flaticon-people-2:before { content: "\f103"; }
.flaticon-meeting-1:before { content: "\f104"; }
.flaticon-meeting:before { content: "\f105"; }
.flaticon-interview:before { content: "\f106"; }
.flaticon-box-2:before { content: "\f107"; }
.flaticon-ribbon:before { content: "\f108"; }
.flaticon-box-1:before { content: "\f109"; }
.flaticon-hands-1:before { content: "\f10a"; }
.flaticon-hands:before { content: "\f10b"; }
.flaticon-like-1:before { content: "\f10c"; }
.flaticon-like:before { content: "\f10d"; }
.flaticon-choices-2:before { content: "\f10e"; }
.flaticon-hand-shake-1:before { content: "\f10f"; }
.flaticon-checklist-with-a-pencil:before { content: "\f110"; }
.flaticon-checklist-square-interface-symbol-of-rounded-corners:before { content: "\f111"; }
.flaticon-circular:before { content: "\f112"; }
.flaticon-forbidden:before { content: "\f113"; }
.flaticon-thumb-up-outline-symbol:before { content: "\f114"; }
.flaticon-box:before { content: "\f115"; }
.flaticon-giving-a-presentation-card:before { content: "\f116"; }
.flaticon-team-work:before { content: "\f117"; }
.flaticon-approve:before { content: "\f118"; }
.flaticon-handshake:before { content: "\f119"; }
.flaticon-commerce:before { content: "\f11a"; }
.flaticon-parents:before { content: "\f11b"; }
.flaticon-family-room:before { content: "\f11c"; }
.flaticon-businessmen:before { content: "\f11d"; }
.flaticon-people-1:before { content: "\f11e"; }
.flaticon-people:before { content: "\f11f"; }
.flaticon-man:before { content: "\f120"; }
.flaticon-family:before { content: "\f121"; }
.flaticon-team-1:before { content: "\f122"; }
.flaticon-team:before { content: "\f123"; }
.flaticon-choices-1:before { content: "\f124"; }
.flaticon-choices:before { content: "\f125"; }
.flaticon-list-1:before { content: "\f126"; }
.flaticon-clipboard-with-a-list:before { content: "\f127"; }
.flaticon-checklist-on-a-paper-with-a-pencil:before { content: "\f128"; }
.flaticon-tasks:before { content: "\f129"; }
.flaticon-list:before { content: "\f12a"; }
.flaticon-choice:before { content: "\f12b"; }
.flaticon-approved:before { content: "\f12c"; }
.flaticon-giving-cash:before { content: "\f12d"; }
.flaticon-credit-card-payment:before { content: "\f12e"; }
.flaticon-agreement:before { content: "\f12f"; }
.flaticon-hand-shake:before { content: "\f130"; }
    
    $font-Flaticon-mouse-in-a-shopping-bag: "\f100";
    $font-Flaticon-gift: "\f101";
    $font-Flaticon-shopping-bag: "\f102";
    $font-Flaticon-people-2: "\f103";
    $font-Flaticon-meeting-1: "\f104";
    $font-Flaticon-meeting: "\f105";
    $font-Flaticon-interview: "\f106";
    $font-Flaticon-box-2: "\f107";
    $font-Flaticon-ribbon: "\f108";
    $font-Flaticon-box-1: "\f109";
    $font-Flaticon-hands-1: "\f10a";
    $font-Flaticon-hands: "\f10b";
    $font-Flaticon-like-1: "\f10c";
    $font-Flaticon-like: "\f10d";
    $font-Flaticon-choices-2: "\f10e";
    $font-Flaticon-hand-shake-1: "\f10f";
    $font-Flaticon-checklist-with-a-pencil: "\f110";
    $font-Flaticon-checklist-square-interface-symbol-of-rounded-corners: "\f111";
    $font-Flaticon-circular: "\f112";
    $font-Flaticon-forbidden: "\f113";
    $font-Flaticon-thumb-up-outline-symbol: "\f114";
    $font-Flaticon-box: "\f115";
    $font-Flaticon-giving-a-presentation-card: "\f116";
    $font-Flaticon-team-work: "\f117";
    $font-Flaticon-approve: "\f118";
    $font-Flaticon-handshake: "\f119";
    $font-Flaticon-commerce: "\f11a";
    $font-Flaticon-parents: "\f11b";
    $font-Flaticon-family-room: "\f11c";
    $font-Flaticon-businessmen: "\f11d";
    $font-Flaticon-people-1: "\f11e";
    $font-Flaticon-people: "\f11f";
    $font-Flaticon-man: "\f120";
    $font-Flaticon-family: "\f121";
    $font-Flaticon-team-1: "\f122";
    $font-Flaticon-team: "\f123";
    $font-Flaticon-choices-1: "\f124";
    $font-Flaticon-choices: "\f125";
    $font-Flaticon-list-1: "\f126";
    $font-Flaticon-clipboard-with-a-list: "\f127";
    $font-Flaticon-checklist-on-a-paper-with-a-pencil: "\f128";
    $font-Flaticon-tasks: "\f129";
    $font-Flaticon-list: "\f12a";
    $font-Flaticon-choice: "\f12b";
    $font-Flaticon-approved: "\f12c";
    $font-Flaticon-giving-cash: "\f12d";
    $font-Flaticon-credit-card-payment: "\f12e";
    $font-Flaticon-agreement: "\f12f";
    $font-Flaticon-hand-shake: "\f130";