	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/08/2017 05:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-mouse-in-a-shopping-bag:before { content: "\f100"; }
.flaticon-gift:before { content: "\f101"; }
.flaticon-shopping-bag:before { content: "\f102"; }
.flaticon-people-2:before { content: "\f103"; }
.flaticon-meeting-1:before { content: "\f104"; }
.flaticon-meeting:before { content: "\f105"; }
.flaticon-interview:before { content: "\f106"; }
.flaticon-box-2:before { content: "\f107"; }
.flaticon-ribbon:before { content: "\f108"; }
.flaticon-box-1:before { content: "\f109"; }
.flaticon-hands-1:before { content: "\f10a"; }
.flaticon-hands:before { content: "\f10b"; }
.flaticon-like-1:before { content: "\f10c"; }
.flaticon-like:before { content: "\f10d"; }
.flaticon-choices-2:before { content: "\f10e"; }
.flaticon-hand-shake-1:before { content: "\f10f"; }
.flaticon-checklist-with-a-pencil:before { content: "\f110"; }
.flaticon-checklist-square-interface-symbol-of-rounded-corners:before { content: "\f111"; }
.flaticon-circular:before { content: "\f112"; }
.flaticon-forbidden:before { content: "\f113"; }
.flaticon-thumb-up-outline-symbol:before { content: "\f114"; }
.flaticon-box:before { content: "\f115"; }
.flaticon-giving-a-presentation-card:before { content: "\f116"; }
.flaticon-team-work:before { content: "\f117"; }
.flaticon-approve:before { content: "\f118"; }
.flaticon-handshake:before { content: "\f119"; }
.flaticon-commerce:before { content: "\f11a"; }
.flaticon-parents:before { content: "\f11b"; }
.flaticon-family-room:before { content: "\f11c"; }
.flaticon-businessmen:before { content: "\f11d"; }
.flaticon-people-1:before { content: "\f11e"; }
.flaticon-people:before { content: "\f11f"; }
.flaticon-man:before { content: "\f120"; }
.flaticon-family:before { content: "\f121"; }
.flaticon-team-1:before { content: "\f122"; }
.flaticon-team:before { content: "\f123"; }
.flaticon-choices-1:before { content: "\f124"; }
.flaticon-choices:before { content: "\f125"; }
.flaticon-list-1:before { content: "\f126"; }
.flaticon-clipboard-with-a-list:before { content: "\f127"; }
.flaticon-checklist-on-a-paper-with-a-pencil:before { content: "\f128"; }
.flaticon-tasks:before { content: "\f129"; }
.flaticon-list:before { content: "\f12a"; }
.flaticon-choice:before { content: "\f12b"; }
.flaticon-approved:before { content: "\f12c"; }
.flaticon-giving-cash:before { content: "\f12d"; }
.flaticon-credit-card-payment:before { content: "\f12e"; }
.flaticon-agreement:before { content: "\f12f"; }
.flaticon-hand-shake:before { content: "\f130"; }